* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}



.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    background-color: lightblue;
}

.remove {
    background-color: lightcoral;
    padding: 1em;
    border-radius: 10px;
    transition: 0.5s;
}

.remove:hover {
    cursor: pointer;
    background-color: red;
    scale: 1.1;
}